.nav
    display: flex
    font-size: .96rem
    font-weight: 700
    text-transform: uppercase
    &__link
        margin-left: 3.3rem
        color: #fff
        text-decoration: none
        opacity: .75
        transition: opacity .3s linear
        &:hover
            opacity: 1
        &:first-child
            margin-left: 0