*, *:before, *:after
    box-sizing: border-box
body
    margin: 0
    padding: 0
    font-family: 'Raleway', sans-serif
    font-size: .93rem
    color: #6c7279
    background-color: #fff
    -webkit-font-smoothing: antialiased
    &.no-scroll
      overflow: hidden
.container
    width: 100%
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
.red
    color: red



